body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url("../images/background.gif") center top repeat;
}

#eight-teen {
  background: #1e1a14;
}

#eight-teen a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#eight-teen a img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
