body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url("../images/background.gif") center top repeat;
}

body#iate {
  background-image: none;
  background-color: #1e1a14;
}

#iate a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#iate a img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
